[ytpplus]
ffmpeg=ffmpeg
ffprobe=ffprobe
magick=magick
ffplay=ffplay
sources=sources
temp=temp
sounds=sounds
music=music
resources=resources
intro=resources/intro.mp4
outro=resources/outro.mp4
insert_transitions=true
insert_intro=false
insert_outro=false
clip_count=20
width=640
height=480
min_stream_duration=0.2
max_stream_duration=0.4
project_type=Generic
